#root {
  text-align: center;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.responsive-image {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-image {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
  }

  .hero-copy {
    width: 50vw;
  }

  .hero-image {
    width: 50vw;
  }
}
